main{
    background-color: rgb(10, 213, 213);
    width:100%;
    height: 100vh;
}
/* Accordion */

#hideBox{
    display: none;
}
.accordionHead button{
    width: 100%;
    text-align: start;
    border-top: transparent;
    border-left:transparent;
    border-right:transparent;
    background-color: transparent;
}
.accordionHead
{
        display: flex;
        align-items: center;
        text-align: start;        
        width: 100%;
        cursor: pointer;
}
.accordionHead::after{
    content: "-";
    font-size: 30px;
    margin-left: auto;
}
.activeHeader::after
{

    content: "";
}
.accordionBody{
    display: none;
    background-color: aliceblue;
}
/* tabBar */
.tab{
    button{
        width: 100%;
        border-top:transparent;
        border-left: transparent;
        border-right:transparent;
        border-bottom: 3px solid rgb(248, 113, 17);
        background-color: transparent;
        
    }
    button:hover{
        display: inline-block;
        color: rgb(1, 14, 14);
        background-color: aqua;
        transition: 2s;
    }
}
.tabcontent{
    text-align: start;
    display: none;
    
}
.active{
    background-color:rgb(6, 163, 110);
    display: block;
}
/* counterTime */
#countlabel{
    font-size: 60px;
}

.counters{
    font-size: 20px;

}
